node_modules
test/cache
test/coverage
**/.env
**/apigee/**
**/deploy.ssh
**/env
*.info
*.log
*.zip
*/coverage/*
*/coverage/**
*/coverage/clover.xml
*/coverage/coverage-final.json
*/coverage/lcov-report
*/coverage/lcov-report/*
*/coverage/lcov-report/**
.DS_Store
.env
.idea
.idea/
.idea/**
.vscode
/build
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/lcov-report/*.js
/coverage/lcov-report/*.png
/coverage/lcov-report/block-navigation.js
/coverage/lcov-report/prettify.js
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/home/ubuntu/workspace/.env
/home/ubuntu/workspace/wx-api-common/**
/temp
app/temp-schemas
build/
data-ops-cicd
deploy.ssh
git-version
junit.xml
node_modules
npm-debug.log
src/git-version
src/globalConfig.js
http-client.private.env.json
uploads/*
.nyc_output
127.0.0.1
0.0.0.0
